#experience-container {
	width: 90%;
	height: 100%;
	margin-top: 20px;
	display: flex;
}

#work-section {
	width: 55%;
}

.experience-section {
	margin-top: 30px;
}

.exp-header {
	color: #026670;
	font-size: 40px;
	margin-bottom: 15px;
	font-weight: bold;
}

h3.job-location {
	font-size: 28px;
}

h4.job-title {
	font-size: 20px;
}

#courses {
	margin-left: 10px;
}

p {
	margin-left: 5px;
}

div.subsection {
	margin-left: 15px;
	margin-bottom: 10px;
}