#portfolio-container {
	height: 100%;
	width: 100%;
	overflow-x: hidden; /*stops there from being a scrollbar while the sidebar is sliding in*/
}

/*Project Area*/

#current-project-area {
	width: 74%;
	padding: 1%;
	margin: 2%;
	display: inline-block; /*the one that works: lets the sidebar be inline, but this still gets a top margin*/
}

.port-entry {
	background-color: #f9f9f9;
	height: 200px;
	border: 2px solid silver;
	border-radius: 10px;
	margin-bottom: 30px;
}

.project-header {
	color: #e0ddd7;
	background-color: #6f86a5;
	width: 100%;
	height: 20%;
	border-top-right-radius: 9px;
	border-top-left-radius: 9px;
	display: flex;
	align-items: center;
}

.project-title {
	margin-left: 1%;
	font-size: 35px;
}

.project-body {
	display: flex;
	height: 80%;
	width: 100%;
}

.project-img {
	height: 100%;
	width: 20%;
	border-bottom-left-radius: 10px;
}

.project-info {
	width: 100%;
}

.project-links {
	padding-bottom: 5px;
	border-bottom: 1px solid gray;
}

a.project-link, a.project-source, .project-description {
	margin-left: 3%;
}

.project-description {
	margin-top: 5px;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 18%;
	height: 100%;
	
	display: flex;
	/*justify-content: space-around;*/
	flex-direction: column;

	text-align: center;
	background-color: #6f86a5;

	animation: 0.75s ease-out 0s 1 slideInFromRight;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.project-category {
	color: #e0ddd7;
	font-family: arial;
	/*font-weight: bold;*/
	padding: 10% 0% 10% 0%;
	cursor: pointer;
}

.selected-category {
	font-weight: bold;
	color: #6f86a5;
	/*color: #a0143c;*/
	background-color: #ffcb00;
}