#portfolio-container {
	height: 100%;
	width: 100%;
	overflow-x: hidden; /*stops there from being a scrollbar while the sidebar is sliding in*/
}

/*Project Area*/

#current-project-area {
	width: 74%;
	padding: 1%;
	margin: 2%;
	display: inline-block; /*the one that works: lets the sidebar be inline, but this still gets a top margin*/
}

.port-entry {
	background-color: #d8d8d8;
	border: 2px solid silver;
	height: 200px;
	margin-bottom: 30px;
}

.project-header {
	color: gold;
	background-color: #a0143c;
	width: 100%;
	height: 20%;
}

.project-title {
	margin-left: 1%;
	font-size: 35px;
}

.project-body {
	display: flex;
	height: 80%;
}

.project-img {
	height: 100%;
	width: 15%;
}

.project-info {
	margin-left: 3%;
	width: 67%;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 18%;
	height: 100%;
	
	display: flex;
	/*justify-content: space-around;*/
	flex-direction: column;

	text-align: center;
	background-color: #a0143c;

	animation: 0.75s ease-out 0s 1 slideInFromRight;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.project-category {
	color: gold;
	font-family: arial;
	/*font-weight: bold;*/
	padding: 10% 0% 10% 0%;
	cursor: pointer;
}

.selected-category {
	font-weight: bold;
	color: #a0143c;
	background-color: gold;
}