html, body {
	height: 100%;
	line-height: 170%; /*this font needs it*/
	font-family: 'Open Sans', sans-serif;
}

body {
	background-color: #c9cacc;
	background-image: url('../images/background.png');
}

h1, h2 {
	color: #e0ddd7;
	font-size: 30px;
}

h3 {
	font-size: 28px;
}

header {
	background-color: #6f86a5;
	
	/*padding: 5px;*/
	border-bottom: 2px solid silver;

	height: calc(8% - 2px);

	display: flex;
	justify-content: space-between;
	align-content: center;
}

h1 {
	display: flex;
	align-items: center; /*centers vertically*/
	margin-left: 1%;
}

.hidden {
	display: none;
}

#section-links {
	width: 70%;
	height: 100%;

	display: flex;
	justify-content: space-around;
	align-items: stretch;
}

.section-link {
	padding-left: 10%;
	padding-right: 10%; 
	cursor: pointer;

	display: flex;
	align-items: center;
}

.current-section-highlight {
	font-weight: bold;
	color: #6f86a5;
	background-color: #ffcb00;
}

#content {
	height: 92%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

/*footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	background-color: #666666;
	padding: 20px;
	border-top: 1px solid silver;
}*/