#portfolio-container {
}

#current-project-area {
	width: 74%;
	padding: 1%;
	margin: 2%;
	display: inline-block; /*the one that works: lets the sidebar be inline, but this still gets a top margin*/
}

#sidebar {
	float: right;
	width: 18%;

	text-align: center;
	background-color: #a0143c;

	animation: 0.75s ease-out 0s 1 slideInFromRight;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.project-category {
	color: gold;
	font-family: arial;
	/*font-weight: bold;*/
	padding: 10% 0% 10% 0%;
	cursor: pointer;
}

.selected-category {
	font-weight: bold;
	color: #a0143c;
	background-color: gold;
}