html,
body,
#content {
  height: 100%;
  min-height: 100%;
}

/*Navbar -------------------------------------*/

.navbar {
	/*position: fixed;*/
	background-color: #a7b9d1;
	width: 100%;
	padding-left: 0;
    padding-right: 0;
  	border-bottom: 1px solid transparent;
  	border-bottom-color: #e6e6e6;
  	margin-bottom: 30px;
}

.nav li {
	padding-right: 10px;
	padding-left: 10px;
}

li.active {
	border-top: 5px solid gold;
}

.red {
	background-color: red;
}

.nav a {
	text-decoration: none;
}

/*h2.title {
	display: inline-block;
	font-size: 50px;
	font-weight: 100;
	padding: 10px 0;
	margin-bottom: 44px;
	text-align: center;
	border-bottom: solid 1px #ccc;
	border-top: solid 1px #ccc;
	text-transform: uppercase;
	line-height: 1.2;
}*/

h1, h2 {
	color: #026670;
}

h2.section-title {
	font-size: 40px;
	margin-bottom: 40px;
}

.section {
	padding-top: 80px;
	padding-bottom: 80px;
	text-align: center;
}

/*About Section -------------------------------------*/

#about {
	/*height: 100%;*/
}

#headshot-img {
	max-height: 200px; /*placeholder*/
	border-radius: 50%;
}

/*Projects Section -------------------------------------*/

#projects {
	height: 100%;
	background-image: url('../images/background.png');
}

#projects-content {
	display: flex;
}

.project-thumbnail-container {
	margin-bottom: 20px;
}

.project-thumbnail {
	/*height: 100px;*/
	height: 150px;
	width: 220px;
	border: 1px solid gray;
}

#selected-project-panel {
	background-color: white;
	border: 1px solid gray;
	border-radius: 20px;
}

/*Experience Section -------------------------------------*/

#experience {
	height: 100%;
	background-color: #f7f7f7
	overflow: auto;
}

.container-wide {
	min-width: 95%;
}

#experience-container {
	text-align: left;
}

#experience-container p {
	margin-left: 5px;
}

.experience-section {
	margin-top: 30px;
}

.exp-header {
	color: #026670;
	font-size: 40px;
	margin-bottom: 15px;
	font-weight: bold;
}

h3.job-location {
	font-size: 28px;
}

h4.job-title {
	font-size: 20px;
}

#courses {
	margin-left: 10px;
}

.subsection {
	margin-left: 15px;
	margin-bottom: 10px;
}